

.container{
    overflow: hidden;
    background-image: url(images/scrolling.png);
    height: 300vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    animation: slide 100s linear infinite;
   
}
.navBar{
    
    background-color: #9a8c98;
    overflow: hidden;
    font-family: Arial Rounded MT Bold;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    width: 100%;
    

}
.navBar a:hover { 
    color: #4a4e69;
}

h1 a:hover{
    color: #4a4e69;
}


h1{
    
    position: absolute;
    margin-left: 2%;
    margin-right:40%;
    font-family: Arial Rounded MT Bold;
    overflow-wrap: normal;
    width: 35%;
    
}
h1 a{
    color:#F2E9E4; 
    text-decoration: none;
    font-size:100%;
    overflow-wrap: normal;
    width: 35%;

    
}





.navBar a{
    
    float:right;
    width:15%;
    color:#F2E9E4; 
    text-decoration: none;
    font-size:100%;
}







h2 {
    color:#4A4E69;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: Arial Rounded MT Bold;
    font-size: 1.2cm;
    text-align: center;
    
}

.header h3 {
    font-family: Arial Rounded MT Bold;
    color:#4A4E69;
    text-align: center;
    font-size: .7cm;
    padding-top: 50px;


}

nav ul h1 a {
    margin-top: 10px;
    float:left;
    width : 400px;
    color:#F2E9E4; 
    text-decoration: none;
    font-size:1.2cm;
    align-items: center;

}

p {
    position:relative;
     width: 90%;
     text-align: left;
     font-size: 20px;
     margin-left: 5%;
     margin-right: 5%;
     padding-top: 2%;
     overflow: hidden;
     font-family: Gill Sans;
     color: #22223B;
}
    

.swiper{
    width: 90%; 
   
}


.swiper-slide img{
    /* margin-top: auto;
    width: 80%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    
    display: block; */
    display: block;
    margin: auto;
    width: 80%;
}

.rectangle{
    /* z-index: -1;   */
    /* background-color: #c9ada7; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.animations{
    align-content: center;
    padding-top: 100px;
}

.animations h3{
    font-family: Arial Rounded MT Bold;
    color:#4A4E69;
    text-align: center;
    font-size: .7cm;
}

.animations img{
    padding-left: 350px;
}


