
.container{
    overflow: hidden;
    background-image: url(images/scrolling.png);
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    animation: slide 100s linear infinite;
   
}
.navBar{
    
    background-color: #9a8c98;
    overflow: hidden;
    font-family: Arial Rounded MT Bold;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    width: 100%;
    

}
.navBar a:hover { 
    color: #4a4e69;
}

h1 a:hover{
    color: #4a4e69;
}


h1{
    
    position: absolute;
    margin-left: 2%;
    margin-right:40%;
    font-family: Arial Rounded MT Bold;
    overflow-wrap: normal;
    width: 35%;
    
}

h1 a{
    color:#F2E9E4; 
    text-decoration: none;
    font-size:100%;
    overflow-wrap: normal;
    width: 35%;

    
}





.navBar a{
    
    float:right;
    width:15%;
    color:#F2E9E4; 
    text-decoration: none;
    font-size:100%;
}


h2 {
    color:#4A4E69;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: Arial Rounded MT Bold;
    font-size: 1.2cm;
    text-align: center;
    
}

p {
position:relative;
 width: 90%;
 text-align: center;
 font-size: 25px;
 margin-left: 5%;
 margin-right: 5%;
 padding-top: 5%;
 overflow: hidden;
 font-family: Gill Sans;
 color: #22223B;
}

h4{
    color: #22223B;
    font-family: Gill Sans;
    text-align: center;
    font-size: 20px;
}