.container{
    overflow:visible;
    background-image: url(images/scrolling.png);
    height: 120vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    animation: slide 100s linear infinite;
    z-index: -1;
}



.navBar{
    width: 100%;
    position:absolute;

    font-family: Arial Rounded MT Bold;
    font-size:larger;
    
    margin-left: auto;
    margin-right: auto;
    
   

}

.bar{
    margin-bottom: -11%;
}





h1 a{
    position: absolute;
    color:#F2E9E4;
    text-decoration: none;
    font-family: Arial Rounded MT Bold;
    font-size: 1.3cm;
    margin-left: auto;
    margin-right: auto;
    margin-top:0cm;
    width: 30%;
   
    
    

}




h2 {
    margin-top: 12%;
    margin-bottom:5%;
    margin-left: auto;
    margin-right: auto;
    color:#4A4E69;
    text-align: center;
    font-family: Arial Rounded MT Bold;
    font-size: 1.2cm;
    width: 20%;
    
    
}



nav ul h3 a {
    margin-top: -1%;
    margin-left: auto;
    margin-right: 5%;
    width:15%;
    text-align: right;
    float:right;

    color:#F2E9E4; 
    text-decoration: none;
    font-size:.6cm;

}





p {

 width: 50%;
 text-align: left;
 font-size:120%;
 margin:auto;
 padding-top: 2%;
 overflow: hidden;
 font-family: Gill Sans;
 color: #22223B;
 padding-left: 375px;
 
}

.par{
    margin-top: -40%;
}





.center{
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 30%;
}





